// IMPORTING POPPINS FONT FROM GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*

- FONT SIZE(px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 07 WHITESPACE(px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

// ---------- VARIABLES ---------- //
:root {
  // TYPOGRAPHY
  --font-size-xxsm: 1.2rem;
  --font-size-xsm: 1.6rem;
  --font-size-sm: 2rem;
  --font-size-md: 2.4em;
  --font-size-lg: 3rem;
  --font-size-xlg: 3.6rem;
  --font-size-hg: 4.4rem;

  --font-primary: 'Poppins';

  --font-weight-md: 400;
  --font-weight-lg: 500;
  --font-weight-xlg: 700;

  --letter-spacing: -1px;

  // COLORS
  --color-primary: #e53b50;
  --color-secondary: #2ed573;

  --color-white: #fff;
  --color-grey-dark: #4d4d4d;
  --color-grey-light: #e1e1e1;
  --color-dark: #000;

  // WHITESPACE
  --ws-xsm: 0.8rem;
  --ws-sm: 1.6rem;
  --ws-md: 2.4rem;
  --ws-lg: 3.2rem;
  --ws-xlg: 4.8rem;
  --ws-hg: 8rem;
}

// ---------- EXTENDS ---------- //
@mixin respond($bp) {
  // Desktop
  @if ($bp == desktop) {
    @media only screen and (max-width: 76.25em) {
      @content;
    }
  }

  // Tab-lan
  @if ($bp == tab-land) {
    @media only screen and (max-width: 60em) {
      @content;
    }
  }

  // Tab-por
  @if ($bp == tab-por) {
    @media only screen and (max-width: 50em) {
      @content;
    }
  }

  // Phone
  @if ($bp == phone) {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  // Phone small
  @if ($bp == phone-sm) {
    @media only screen and (max-width: 23.75em) {
      @content;
    }
  }
}

// ---------- EXTENDS ---------- //
%flexAligned {
  display: flex;
  align-items: center;
}

%flexCentered {
  display: flex;
  justify-content: center;
}

%flexAlignedCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexColumn {
  display: flex;
  flex-direction: column;
}

%grid--2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  // Phone view
  @include respond(phone) {
    grid-template-columns: 1fr;
  }
}

%border {
  border: 1px solid;
}

%borderBottom {
  border-bottom: 1px solid;
}

%transition {
  transition: all 0.3s;
}

%overlay {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  opacity: 0.6;

  display: block;
}

%posAbsolute {
  position: absolute;
  top: 0;
  left: 0;
}

// ---------- UTILITIES ---------- //
.container {
  max-width: 120rem;
  margin: 0 auto;

  // Desktop view
  @include respond(desktop) {
    padding: 0 var(--ws-md);
  }

  // Tab-por view
  @include respond(tab-por) {
    padding: 0 var(--ws-lg);
  }
}

.section {
  padding-top: var(--ws-hg);
  padding-bottom: var(--ws-hg);

  // @include respond(tab-por) {
  //   padding-top: var(--ws-xlg);
  //   padding-bottom: var(--ws-xlg);
  // }
}

.textCenter {
  text-align: center;
}

.mb-xsm {
  margin-bottom: 0.8rem;
}

.mb-sm {
  margin-bottom: 1.6rem;
}

.mb-md {
  margin-bottom: 2.4rem;
}

.mb-lg {
  margin-bottom: 3.2rem;
}

.mb-xlg {
  margin-bottom: 4.8rem;
}

.mb-hg {
  margin-bottom: 6.4rem;
}

.hidden {
  opacity: 0;
  user-select: none;
  transform: scale(0);
}

.hidden-display {
  display: none;
}

// ---------- BASE ---------- //
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 52.25%;
  }
}

body {
  color: var(--color-dark);
  font-size: var(--font-size-xsm);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-md);
  line-height: 1;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-thumb {
  border: 1px solid rgb(0, 0, 0, 0);
  border-radius: 9999px;
  background-clip: padding-box;
  background-color: #c1c1c1;
}

// ---------- RESET ---------- //
p {
  line-height: 1.5;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

input,
select {
  color: var(--color-grey-dark);
  width: 100%;
  padding: var(--ws-sm) calc(var(--ws-xsm) * 2);
  font-family: inherit;
  border: none;
  border: 1px solid var(--color-grey-light);
  @extend %transition;

  // &:invalid {
  //   border-color: var(--color-primary);
  // }
}

// ---------- REUSABLE ---------- //
.heading-primary {
  font-size: var(--font-size-hg);
  line-height: 1.3;

  // Phone view
  @include respond(phone) {
    font-size: var(--font-size-lg);
  }
}

.heading-secondary {
  font-size: var(--font-size-xlg);
  text-transform: capitalize;

  // Phone view
  @include respond(phone) {
    font-size: var(--font-size-lg);
  }
}

.heading-tertiary {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-lg);
}

.heading-forty {
  font-size: var(--font-size-xsm);
  font-weight: var(--font-weight-md);
  line-height: 1.5;
}

// ---------- REUSABLE COMPONENTS ---------- //
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: var(--ws-xsm);
  row-gap: var(--ws-lg);

  & .loading {
    &--img {
      height: 30rem;
    }
  }

  // Tab-land view
  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--ws-xsm);

  & .loading {
    height: 50rem;

    &:nth-child(2),
    &:nth-child(4) {
      transform: translateY(var(--ws-sm));
    }

    &--img {
      height: 100%;
    }
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ws-xsm);
  }
}
